<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id = 'sqlSession' class="com.itheima.dao.mySqlSession" autowire="byType">
        <constructor-arg name="sqlMapConfigPath" value="mybatisConfig.xml"></constructor-arg>
    </bean>

    <!--autowire属性：开启自动装配，通常使用按类型装配-->
    <bean id = 'bookServiceImpl1' name = 'bk1' class="com.itheima.service.impl.bookServiceImpl"  autowire="byType">
    </bean>

</beans>